{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Create your account</h1>

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {{ form_start(registrationForm) }}

            <div class="mb-3">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>

            <div class="mb-3">
                {{ form_label(registrationForm.plainPassword, 'Password') }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>

            <div class="mb-3 form-check">
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_errors(registrationForm.agreeTerms) }}
            </div>

            <button type="submit" class="btn btn-lg btn-primary">Register</button>

        {{ form_end(registrationForm) }}
    </form>
{% endblock %}
