{% extends 'base.html.twig' %}

{% block title %}Mdp index{% endblock %}

{% block body %}
    <h1>Mdp index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Identifiant</th>
                <th>Mdp</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in mdps %}
            <tr>
                <td>{{ entry.entity.id }}</td>
                <td>{{ entry.entity.Titre }}</td>
                <td>{{ entry.entity.Identifiant }}</td>
                <td>{{ entry.decrypted }}</td>
                <td>{{ entry.entity.createdAt ? entry.entity.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ entry.entity.updatedAt ? entry.entity.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_mdp_show', {'id': entry.entity.id}) }}">show</a>
                    <a href="{{ path('app_mdp_edit', {'id': entry.entity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mdp_new') }}">Create new</a>
{% endblock %}
