{% extends 'base.html.twig' %}

{% block title %}Mdp{% endblock %}

{% block body %}
    <h1>Mdp</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ mdp.Titre }}</td>
            </tr>
            <tr>
                <th>Identifiant</th>
                <td>{{ mdp.Identifiant }}</td>
            </tr>
            <tr>
                <th>Mot de passe:</th>
                <td><strong>{{ decrypted }}</strong></td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ mdp.createdAt ? mdp.createdAt|date('Y-m-d H:i')}}</td>
            </tr>
            <tr>
                <th>UdpdateAt</th>
                <td>{{ mdp.updatedAt|date('Y-m-d H:i') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mdp_index') }}">back to list</a>

    <a href="{{ path('app_mdp_edit', {'id': mdp.id}) }}">edit</a>

    {{ include('mdp/_delete_form.html.twig') }}
{% endblock %}
